<footer>
    <div class="footer-info navbar-expand-lg navbar-light bg-light">
        <div class="footer-license">© 2024 Company, Inc</div>
        <div class="logo">WeBlog</div>
        <div class="footer-socials">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
</footer>