<nav class="nav navbar-light bg-light">
    <div class="nav-logo"><a class="navbar-brand logo" href="/" >WeBlog</a></div>
    <div class="navbar-nav nav-first">
          <a class="nav-link nav-first-a" href="/">Home</a>
          <a class="nav-link nav-first-a" href="/blog">All Blogs</a>
          <a class="nav-link nav-first-a" href="/#About">About us</a>
    </div>
    <div class="navbar-nav nav-second">
            <a class="nav-link btn btn-primary" href="/creator">Creator</a>
    </div>
</nav>

